.card {
  box-shadow: 0 4px 8px 0 rgba(67, 61, 61, 0.2), 0 6px 20px 0 rgba(173, 167, 167, 0.19);
  color:white;
  border-radius: 15px;
  background-color:#26272b;
  opacity: 0.7;               /* Good browsers */
  max-height: 600px;
  padding:5px;
  overflow-y:auto;
  z-index:3;
  width:30%;
  height:500px;
}